PORT=5001
MONGODB_URL=mongodb+srv://<balaipalliveera_db_user>:< jKf2cWz9pqd20PzD>@cluster0.qgqjasj.mongodb.net/
JWT_SECRET=b0fcee8109f7cb4ab9064f0090cd42ec8351b8ef000b582b331b20420ca62263
CLOUDINARY_CLOUD_NAME=dhpydgyj6
CLOUDINARY_API_KEY=426629786481686
CLOUDINARY_API_SECRET=8Lwm-uV61gtPMph55NsEE-SYRW4
